* {
	font-family: Arial;
}

header {
	background-color: #fbfbfb;
}

.fixed-container {
	width: 1000px;
	margin: 0 auto;
}

.first-section {
	display: flex;
	flex-direction: column;
	padding: 0 100px;
}

.menu-container {
	display: flex;
	justify-content: space-between;
	height: 60px;
	align-items: center;
}

nav {
	display: flex;
}

nav a {
	color: #1f1f24;
	text-decoration: none;
	margin-right: 40px;
}

nav a:hover {
	color: #fc557c;
	text-decoration: underline;
}

.phone-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;

}

.phone {
	font-family: Roboto, sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin-right: 30px;
}
.order-call {
	font-family: Roboto, sans-serif;
	border: 1px solid #fc557c;
	padding: 16px 40px;
	color: #fc557c;
	background-color: white;
	cursor: pointer;
}

.title-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 650px;
}

h1.name {
	font-size: 80px;
	line-height: 104px;
	margin: 0 0 -30px;
	letter-spacing: -0.002em;
}

h3 {
	color: #8993ad;
	font-size: 25px;
	font-weight: normal;
	line-height: 54px;
}

.know-to {
	font-family: Roboto, sans-serif;
	background-color: #ff4e2e;
	border: none;
	cursor: pointer;
	width: 270px;
	color: #fff;
	font-size: 16px;
	line-height: 54px;
	margin: 40px 0 0 0;
}


.second-section {
	background-color: #ffffff;
}

.s-head {
	margin: 80px 0 85px 0;
	font-weight: 700;
	font-size: 44px;
	line-height: 59px;
	text-align: center;
}

.icons {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	margin: 0 0 90px 0;
}
.icon {
	flex-basis: 20%;
	text-align: center;
	font-size: 15px;
	line-height: 25px;
	color: #8993ad;
}
.s-bottom {
	text-align: center;
}
.s-button {
	font-family: Roboto, sans-serif;
	background-color: #ff4e2e;
	border: none;
	cursor: pointer;
	width: 270px;
	color: #fff;
	font-size: 16px;
	line-height: 54px;
	margin: 0 0 100px 0;
}